extends layout

block content
  h1= title
  p Welcome to #{title}
   - var results = Dog;
  div(class="container-fluid")
    each value in results 
      div(class="row")
        div(class="col-sm-2") #{value.dog_Name}
        div(class="col-sm-2") #{value.age}
        div(class="col-sm-2") #{value.price}
        