extends layout

block content
  h1= title
  p Welcome to #{title}
   - let results=[{'Alaskan Malamute',5,12000},{'Akita',9,10000},{'American Leopard Hound',12,13000}]
   div(class="container-fluid")
   div(class="row")
   each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`)  dog name #{value.dog_Name}, age #{value.age}, price is #{value.price}
   script.
    function buy(index)
    {
      alert(`You purchased Item ${index+1}`)
    } 